body {
	margin: auto;
	height: 900px;
}

header, footer {
	height: 150px;
}

#container {
	height: 600px;
}

#title {
	background: url("../images/VivahaLogoBlack.jpg");
}

#facebook {
	background: url("../images/FacebookLogo.png");
}

#instagram {
	background: url("../images/Instagram.jpg");
}

#twitter {
	background: url("../images/TwitterLogo.jpg");
}

#youtube {
	background: url("../images/YouTubeLogo.png");
	height: 41px;
}

.footerIcons {
	height: 60px;
	width: 60px;
	float: left;
}